   {% extends 'blog/base.html' %}

    {% block content %}

             {% for post in posts %}

               <h2><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h2>
                <p>title: {{ post.title }}</p>
                <p>body: {{ post.text }}</p>
                <p>published: {{ post.published_date}}</p>

            {% endfor %}
            
            {% if user.is_authenticated %}
                  <a href="{% url 'post_new'%}">add post </a>
            {% else %}
              <p>You are not logged in</p>
                  <a href="{% url 'login'%}">login to add post </a>
            {% endif %}

    {% endblock %}
